<header class="flex-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">University League</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/players">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/teams">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/matches">Matches</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
