<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Player</title>
</head>
<body>
<!--image,name,surname,birthdate,index,city,position,team,appearances,goals,assists,saves-->
<form action="/players/add" method="POST" enctype="multipart/form-data">
    <input id="id" type="hidden" name="id"
           th:value="(${player} != null ? ${player.getFootball_player_id()} : '')"><!--we check if the product is null,if not we get its ID -->
    <div class="form-group">
        <label for ="playerImage">Player Image</label>
        <input type="file"
        class = "form-control"
        id="playerImage"
        name="playerImage"
        th:value="${player}!=null?${player.getImage()}: ''"
        placeholder="Upload player image"
        >
        <label for="playerName">Player name</label>
        <input type="text"
               class="form-control"
               id="playerName"
               name="playerName"
               th:value="(${player} != null ? ${player.getName()} : '')"
               required
               placeholder="Enter player name"> <!--We check if the product is null, if not we get its name -->
    </div>
    <div class="form-group">
        <label for="playerSurname">Surname</label>
        <input type="text"
               class="form-control"
               id="playerSurname"
               name="playerSurname"
               th:value="(${player} != null ? ${player.getSurname()} : '')"
               placeholder="Player Surname">
        <!-- We check if the product is null, if not we get its price -->
    </div>
    <div class="form-group">
        <label for="playerBirthDate">Birth Date</label>
        <input type="date"
               class="form-control"
               id="playerBirthDate"
               name="playerBirthDate"
               th:value="(${player} != null ? ${player.getBirthdate()} : '')"
               placeholder="Player Birth date">
    </div>
    <div class="form-group">
        <label for="playerIndex">Index</label>
        <input type="number"
               class="form-control"
               id="playerIndex"
               name="playerIndex"
               th:value="(${player} != null ? ${player.getIndex()} : '')"
               placeholder="Player Student index">
    </div>
    <div class="form-group">
        <label for="playerCity">City</label>
        <input type="text"
               class="form-control"
               id="playerCity"
               name="playerCity"
               th:value="(${player} != null ? ${player.getCity()} : '')"
               placeholder="Player City">
    </div>
    <div class="form-group">
        <label for="playerPosition">Position</label>
        <input type="text"
               class="form-control"
               id="playerPosition"
               name="playerPosition"
               th:value="(${player} != null ? ${player.getPosition()} : '')"
               placeholder="Player Position ">
    </div>
    <div class="form-group">
        <label>Team</label>
        <select name="team" class="form-control">
            <option value=""></option>
            <option th:if="${player} != null"
                    th:selected="${player.getTeam() != null &&
                                player.getTeam().getId() == team.getId()}"
                    th:each="team : ${teams}"
                    th:value="${team.getId()}"
                    th:text="${team.getTeamName()}">
            </option>
            <option th:if="${player} == null"
                    th:each="team : ${teams}"
                    th:value="${team.getId()}"
                    th:text="${team.getTeamName()}">
            </option>
        </select>
    </div>
<!--    <div class="form-group">-->
<!--        <label for="playerAppearances">Player Appearances</label>-->
<!--        <input type="number"-->
<!--               class="form-control"-->
<!--               id="playerAppearances"-->
<!--               name="playerAppearances"-->
<!--               th:value="(${player} != null ? ${player.getPosition()} : '')"-->
<!--               placeholder="Player Position ">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="playerGoals">Player Goals</label>-->
<!--        <input type="number"-->
<!--               class="form-control"-->
<!--               id="playerGoals"-->
<!--               name="playerGoals"-->
<!--               th:value="(${player} != null ? ${player.getGoals()} : '')"-->
<!--               placeholder="Player Goals ">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="playerAssists">Player Goals</label>-->
<!--        <input type="number"-->
<!--               class="form-control"-->
<!--               id="playerAssists"-->
<!--               name="playerAssists"-->
<!--               th:value="(${player} != null ? ${player.getAssists()} : '')"-->
<!--               placeholder="Player Assists ">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="playerSaves">Player Saves</label>-->
<!--        <input type="number"-->
<!--               class="form-control"-->
<!--               id="playerSaves"-->
<!--               name="playerSaves"-->
<!--               th:value="(${player} != null ? ${player.getSaves()()} : '')"-->
<!--               placeholder="Player Saves ">-->
<!--    </div>-->
    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    <a type="button" class="btn btn-secondary" href="/products">Back</a>
</form>


</body>
</html>