<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Match</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>Edit Volleyball Match</h1>
    <form th:action="@{/volleyball_matches/edit}" method="post">
        <input type="hidden" name="id" th:value="${match.getVolleyball_match_id()}">
        <div class="form-group">
            <label for="homeTeam">Home Team</label>
            <select id="homeTeam" name="homeTeamId" class="form-control" required>
                <option th:each="team : ${teams}" th:value="${team.getVolleyball_team_id()}" th:text="${team.getTeamName()}"
                        th:selected="${team.getVolleyball_team_id() == match.homeTeam.getVolleyball_team_id()}">Team Name</option>
            </select>
        </div>
        <div class="form-group">
            <label for="awayTeam">Away Team</label>
            <select id="awayTeam" name="awayTeamId" class="form-control" required>
                <option th:each="team : ${teams}" th:value="${team.getVolleyball_team_id()}" th:text="${team.getTeamName()}"
                        th:selected="${team.getVolleyball_team_id() == match.awayTeam.getVolleyball_team_id()}">Team Name</option>
            </select>
        </div>
        <div class="form-group">
            <label for="homeTeamPoints">Home Team Points</label>
            <input type="number" id="homeTeamPoints" name="homeTeamPoints" class="form-control" th:value="${match.homeTeamPoints}" required>
        </div>
        <div class="form-group">
            <label for="awayTeamPoints">Away Team Points</label>
            <input type="number" id="awayTeamPoints" name="awayTeamPoints" class="form-control" th:value="${match.awayTeamPoints}" required>
        </div>
        <div class="form-group">
            <label for="startTime">Start Time</label>
            <input type="datetime-local" id="startTime" name="startTime" class="form-control" th:value="${#dates.format(match.startTime, 'yyyy-MM-dd\'T\'HH:mm')}" required>
        </div>
        <div class="form-group">
            <label for="endTime">End Time</label>
            <input type="datetime-local" id="endTime" name="endTime" class="form-control" th:value="${#dates.format(match.endTime, 'yyyy-MM-dd\'T\'HH:mm')}" required>
        </div>
        <button type="submit" class="btn btn-warning">Update Match</button>
    </form>
    <a th:href="@{/volleyball_matches/details/{id}(id=${match.getVolleyball_match_id()})}" class="btn btn-primary">Back to Match Details</a>
</div>

</body>
</html>
