<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football Teams</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Category</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team : ${footballTeams}" class="product"> <!--we show every information of each product in the products attribute -->
        <td th:text="${team?.getTeamName()}"></td>
<!--        <td th:text="${team.getPlayers()}"></td>-->



    </tr>
    </tbody>
</table>
</body>
</html>