<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Playoff Matches</title>
</head>
<body>
<h1>Playoff Matches</h1>
<table>
    <thead>
    <tr>
        <th>Home Team</th>
        <th>Home Score</th>
        <th>Away Score</th>
        <th>Away Team</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="match : ${matches}">
        <td th:text="${match.homeTeam.teamName}"></td>
        <td th:text="${match.homeTeamPoints}"></td>
        <td th:text="${match.awayTeamPoints}"></td>
        <td th:text="${match.awayTeam.teamName}"></td>
        <td>
            <a th:href="@{/matches/playoffs/edit/{id}(id=${match.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
