<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Match Details</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Match Details</h1>-->
<!--<p><strong>Match:</strong> <span th:text="${match.getHomeTeam().teamName}">Home Team</span> vs <span th:text="${match.awayTeam.teamName}">Away Team</span></p>-->
<!--<p><strong>Current Score:</strong> <span th:text="${match.homeTeamPoints}">Home Team Points</span> - <span th:text="${match.awayTeamPoints}">Away Team Points</span></p>-->

<!--<form action="#" th:action="@{/playoffs/completeMatch}" method="post">-->
<!--  <input type="hidden" name="matchId" th:value="${match.id}">-->

<!--  <label for="homeTeamPoints">Home Team Points:</label>-->
<!--  <input type="number" id="homeTeamPoints" name="homeTeamPoints" th:value="${match.homeTeamPoints}" required>-->

<!--  <label for="awayTeamPoints">Away Team Points:</label>-->
<!--  <input type="number" id="awayTeamPoints" name="awayTeamPoints" th:value="${match.awayTeamPoints}" required>-->

<!--  <button type="submit">Submit Scores</button>-->
<!--</form>-->

<!--<a href="#" th:href="@{/playoffs}">Back to Playoff Bracket</a>-->
<!--</body>-->
<!--</html>-->
