<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Volleyball Matches</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>All Volleyball Matches</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="match : ${volleyballMatches}">
            <td th:text="${match.homeTeam.getTeamName()}">Home Team Name</td>
            <td th:text="${match.awayTeam.getTeamName()}">Away Team Name</td>
            <td th:text="${#temporals.format(match.startTime, 'dd-MM-yyyy HH:mm')}">Start Time</td>
            <td th:text="${#temporals.format(match.endTime, 'dd-MM-yyyy HH:mm')}">End Time</td>
            <td><a th:href="@{/volleyball_matches/details/{id}(id=${match.getVolleyball_match_id()})}" class="btn btn-primary">Details</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/volleyball_matches/add-form}" class="btn btn-success">Add Match</a>
</div>
</body>
</html>
