<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5" th:text="${team.getTeamName()}">Team Name</h1>

    <h2>Players</h2>
    <ul class="list-group">
        <th:block th:each="player : ${players}">
            <li class="list-group-item" th:text="${player.name} + ' ' + ${player.surname}">Player Name</li>
        </th:block>
    </ul>

    <h2 class="mt-4">Top 5 Players</h2>
    <ul class="list-group">
        <th:block th:each="player : ${topPlayers}">
            <li class="list-group-item" th:text="${player.name} + ' ' + ${player.surname}">Player Name</li>
        </th:block>
    </ul>

    <a href="/volleyball/teams" class="btn btn-secondary mt-4">Back to Teams</a>
</div>
</body>
</html>
