<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Match</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header class="bg-primary text-white p-3">
    <div class="container">
        <h1 class="mb-0">Add Volleyball Match</h1>
    </div>
</header>
<div class="container mt-5">
    <form th:action="@{/volleyball/matches/add}" method="post" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="homeTeam">Home Team</label>
            <select id="homeTeam" name="homeTeamId" class="form-control" required>
                <option th:each="team : ${teams}" th:value="${team.getVolleyball_team_id()}" th:text="${team.getTeamName()}">Team Name</option>
            </select>
        </div>
        <div class="form-group">
            <label for="awayTeam">Away Team</label>
            <select id="awayTeam" name="awayTeamId" class="form-control" required>
                <option th:each="team : ${teams}" th:value="${team.getVolleyball_team_id()}" th:text="${team.getTeamName()}">Team Name</option>
            </select>
        </div>
        <div class="form-group">
            <label for="homeTeamPoints">Home Team Points</label>
            <input type="number" id="homeTeamPoints" name="homeTeamPoints" class="form-control" value="0" required>
        </div>
        <div class="form-group">
            <label for="awayTeamPoints">Away Team Points</label>
            <input type="number" id="awayTeamPoints" name="awayTeamPoints" class="form-control" value="0" required>
        </div>
        <div class="form-group">
            <label for="startTime">Start Time</label>
            <input type="datetime-local" id="startTime" name="startTime" class="form-control" required onchange="checkEndTime()">
        </div>
        <button type="submit" class="btn btn-primary">Add Match</button>
    </form>

</div>

<script>
    function validateForm() {
        const homeTeam = document.getElementById('homeTeam').value;
        const awayTeam = document.getElementById('awayTeam').value;
        const startTime = document.getElementById('startTime').value;
        const endTime = document.getElementById('endTime').value;

        // Check if home and away teams are the same
        if (homeTeam === awayTeam) {
            alert("Home and Away teams cannot be the same.");
            return false;
        }

        // Check if end time is before start time
        if (new Date(endTime) < new Date(startTime)) {
            alert("End time cannot be before start time.");
            return false;
        }

        return true;
    }
</script>
</body>
</html>
