<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Order Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="bg-primary text-white p-3">
  <div class="container">
    <h1 class="mb-0">Order #<span th:text="${order.getOrderId()}">12345</span></h1>
  </div>
</header>

<div class="container mt-5">
  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th>Product Name</th>
      <th>Product Type</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <!-- Football Products -->
    <tr th:each="product : ${order.getOrderedFootballProducts()}">
      <td th:text="${product.getName()}">Product Name</td>
      <td>Football</td>
      <td th:text="${product.getPrice()}">$0.00</td>
      <td th:text="${product.getQuantity()}">1</td>
    </tr>

    <!-- Basketball Products -->
    <tr th:each="product : ${order.getOrderedBasketballProducts()}">
      <td th:text="${product.getName()}">Product Name</td>
      <td>Basketball</td>
      <td th:text="${product.getPrice()}">$0.00</td>
      <td th:text="${product.getQuantity()}">1</td>
    </tr>

    <!-- Volleyball Products -->
    <tr th:each="product : ${order.getOrderedVolleyballProducts()}">
      <td th:text="${product.getName()}">Product Name</td>
      <td>Volleyball</td>
      <td th:text="${product.getPrice()}">$0.00</td>
      <td th:text="${product.getQuantity()}">1</td>
    </tr>
    </tbody>
  </table>

  <h3>Total Price: $<span th:text="${#numbers.formatDecimal(order.getTotalPrice(), 0, 2)}">50.00</span></h3>

  <div class="text-end mb-4">
    <form th:action="@{/orders/{orderId}/pay(orderId=${order.orderId})}" method="post">
      <button class="btn btn-success" type="submit" th:disabled="${order.isPaid()}">Pay</button>
    </form>
  </div>

  <div class="text-center my-4">
    <h4 class="my-4">Buy More</h4>
    <a th:href="@{/football/products}" class="btn btn-primary btn-lg mx-2">Football Merch</a>
    <a th:href="@{/basketball/products}" class="btn btn-success btn-lg mx-2">Basketball Merch</a>
    <a th:href="@{/volleyball/products}" class="btn btn-warning btn-lg mx-2">Volleyball Merch</a>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
