<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Basketball Products</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<h1>Basketball Products</h1>

<form th:action="@{/basketball/products}" method="get">
    <label for="team">Filter by Team:</label>
    <select name="team" id="team">
        <option value="">All Teams</option>
        <option th:each="team : ${teams}" th:value="${team.getTeamName()}" th:text="${team.getTeamName()}"></option>
    </select>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<!-- Link to Create New Product -->
<a th:href="@{/basketball/products/new}" class="btn btn-primary">Add New Product</a>

<table>
    <thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Team</th>
        <th>Actions</th>
        <th>Add to Cart</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td><img th:src="@{${product.getImage()}}" alt="Product Image" width="100"/></td>
        <td th:text="${product.getName()}">Product Name</td>
        <td th:text="${product.getDescription()}">Product Description</td>
        <td th:text="${product.getPrice()}">Product Price</td>
        <td th:text="${product.basketballMerch.getTeamName()}">Team Name</td>
        <td>
            <a th:href="@{/basketball/products/{id}(id=${product.getId()})}">Details</a> |
            <a th:href="@{/basketball/products/edit/{id}(id=${product.getId()})}">Edit</a> |
            <a th:href="@{/basketball/products/delete/{id}(id=${product.getId()})}">Delete</a>
        </td>
        <td>
            <form th:action="@{/cart/add/basketball/{productId}(productId=${product.getId()})}" method="post">

                <label for="quantity">
                    <input type="number" name="quantity" id="quantity" class="form-control" value="1" min="1" />
                </label>

                <button class="btn btn-primary" type="submit">Add to Cart</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="text-center my-4">
    <a th:href="@{/shop}" class="btn btn-secondary btn-lg">
        Back to Shop Home
    </a>
</div>


</body>
</html>
