<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Team</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header class="bg-primary text-white p-3">
    <div class="container">
        <h1 class="mb-0">Edit Basketball Team</h1>
    </div>
</header>
<div class="container mt-5">

    <form th:action="@{/basketball/teams/edit/{id}(id=${team.id})}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="logo" class="form-label">Team Logo</label>
            <input type="file" class="form-control" id="logo" name="logo"
                   th:value="${team != null ? team.getLogo() : ''}" placeholder="Upload Team Logo">
        </div>
        <div class="form-group">
            <label for="teamName">Team Name:</label>
            <input type="text" id="teamName" class="form-control" th:field="*{team.teamName}"  />
        </div>
        <div class="form-group">
            <label for="teamLeaguePoints">League Points:</label>
            <input type="number" id="teamLeaguePoints" class="form-control" th:field="*{team.teamLeaguePoints}" readonly/>
        </div>
        <div class="form-group">
            <label for="teamMatchesPlayed">Matches Played:</label>
            <input type="number" id="teamMatchesPlayed" class="form-control" th:field="*{team.teamMatchesPlayed}" readonly />
        </div>
        <div class="form-group">
            <label for="teamWins">Wins:</label>
            <input type="number" id="teamWins" class="form-control" th:field="*{team.teamWins}" readonly />
        </div>
        <div class="form-group">
            <label for="teamLoses">Losses:</label>
            <input type="number" id="teamLoses" class="form-control" th:field="*{team.teamLoses}" readonly />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a th:href="@{/basketball/teams}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
